<manifest package="github.y0rrrsh.vkapi"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name="github.y0rrrsh.vkapi.VKLoginActivity"/>

    </application>

</manifest>
