<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VkAudio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F56AD2981CCF64A100E45170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F56AD2AF1CCF64A200E45170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F56AD2BA1CCF64A200E45170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
