<?xml version="1.0" encoding="utf-8"?>
<manifest package="github.y0rrrsh.vkaudioplayer"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/VKAP.Main">

        <activity android:name=".vkapi.VKLoginActivity"/>

        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/VKAP.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity"/>
        <activity android:name=".activities.ListAudioActivity"/>

        <activity
            android:name=".activities.AudioPlayerActivity"
            android:launchMode="singleTask"/>

        <receiver android:name=".receivers.PlaybackReceiver">
            <intent-filter>
                <action android:name="github.y0rrrsh.vkaudioplayer.START"/>
                <action android:name="github.y0rrrsh.vkaudioplayer.PAUSE"/>
                <action android:name="github.y0rrrsh.vkaudioplayer.COMPLETE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.WidgetControlReceiver">
            <intent-filter>
                <action android:name="github.y0rrrsh.vkaudioplayer.widget.PLAY"/>
                <action android:name="github.y0rrrsh.vkaudioplayer.widget.NEXT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>